* {
  /*outline: 1px dotted red; */
}
body{
  /*background-color: rgb(28,55,70);*/
}
div {
  /*background-color: white;*/
}
div.stuff {
  display: inline-block;
  width: 200px;
  height: 200px;
}
span.highlighter {
  display: inline-block;
  background-color: yellow;
}
.row {
  margin-bottom: 5px;
}
ul {

}
