<!-- DASHBOARD PARTIAL -->
<div class="row container">
  <div class="col s3"> <!-- Start Left Column -->
    <div class="user-display">
      <div class="display-background row">
        <img style="width: 100%;" src="assets/images/panda.png" alt="raspberry jam" />
      </div>
      <div class="user-details row">
        <a class="black-text" href="/#/users/{{user.user_id}}">
          <img class="left col s4 responsive-img"src="assets/images/profile-placeholder.jpg" alt="fresh cantalope" />
          <h5> {{user.user_name}} <i class="material-icons">mode_edit</i></h5>
        </a>
        <br>
        <div class="game-stats">
          <div class="col s4">
            <p>Played</p>
            <p>47</p>
          </div>
          <div class="col s4">
            <p>Wins</p>
            <p>32</p>
          </div>
          <div class="col s4">
            <p>Loses</p>
            <p>15</p>
          </div>
        </div>
      </div>
    </div> <!-- End User Display Box -->
    <div ng-hide="game.name"> <!-- Start Game buttons -->
      <div class="row game-button">
        <div class="col s12">
          <div class="card-panel green darken-3" ng-click="handleLaunchGame('war');">
            <span class="white-text align center">War <i class="material-icons">new_releases</i></span>

            
          </div>
        </div>
      </div>
      <div class="row game-button">
        <div class="col s12">
          <div class="card-panel green darken-3" ng-click="handleJoinGame('euchre');">
            <span class="white-text align center">Euchre <i class="material-icons">build</i></span>
          </div>
        </div>
      </div>
    </div><!-- End Gam Buttons -->
  </div><!-- End Left Column -->
  <div class="col s9"><!-- Start Right Column -->
    <div class="row col s12 card green darken-3" ng-show="game.name === 'war'" ng-controller="warGameController">
      <div class="align center">
        <h5 class="white-text" style="margin: 0px;">now playing:</h5>
        <h3 class="white-text" style="margin: 0px;">War</h3>
        <div class="align center game-table">

          <button type="button" name="button" ng-click="handleCreateGame();"> Create Game </button>
          <button type="button" name="button" ng-click="handleJoinGame();"> Create Game </button>
        </div>
      </div>
      <div class="align left" ng-model="games">
        <p class="white-text">current games: {{ games.length }}</p>
      </div>
      <div class="align right card">
        <button class="btn blue-grey lighten-5 black-text" ng-click="leaveGame();">Leave Game</button>
      </div>
    </div>
    <div class="row col s12 card">
      <input style="margin: 0px;" type="text" name="name" placeholder="Let the world know you're here!">
      <i class='material-icons'>message</i>
    </div>
    <div class="row col s12 card">
      
      

        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">File Bug Report <i class='material-icons'>bug_report</i></div>
            <div class="collapsible-body">
              <input style="margin: 0px;" type="text" name="bug_report" placeholder="Report a web/game bug/problem.">
            </div>
          </li>
        </ul>

    </div>
  </div> <!-- End War Game Board -->
</div>


<script type="text/javascript" src="assets/js/script.js"></script>