<!-- DASHBOARD PARTIAL -->
<div class="row container">
  <div class="col s3"> <!-- Start Left Column -->
    <div class="user-display">
      <div class="display-background row">
        <img style="width: 100%;" src="assets/images/panda.png" alt="raspberry jam" />
      </div>
      <div class="user-details row">
        <a class="black-text" href="/#/users/{{user.user_id}}">
          <img class="left col s4 responsive-img"src="assets/images/profile-placeholder.jpg" alt="fresh cantalope" />
          <h5> {{user.user_name}} <i class="material-icons">mode_edit</i></h5>
        </a>
        <br>
        <div class="game-stats">
          <div class="col s4">
            <p>Played</p>
            <p>47</p>
          </div>
          <div class="col s4">
            <p>Wins</p>
            <p>32</p>
          </div>
          <div class="col s4">
            <p>Loses</p>
            <p>15</p>
          </div>
        </div>
      </div>
    </div> <!-- End User Display Box -->
    <div ng-hide="game.name"> <!-- Start Game buttons -->
      <div class="row game-button">
        <div class="col s12">
          <div class="card-panel green darken-3" ng-click="handleLaunchGame('war');">
            <span class="white-text align center">War <i class="material-icons">new_releases</i></span>


          </div>
        </div>
      </div>
      <div class="row game-button">
        <div class="col s12">
          <div class="card-panel green darken-3" ng-click="handleLaunchGame('euchre');">
            <span class="white-text align center">Euchre <i class="material-icons">build</i></span>
          </div>
        </div>
      </div>
    </div><!-- End Gam Buttons -->
  </div><!-- End Left Column -->
  <div class="col s9"><!-- Start Right Column -->
    <div class="row" ng-show="game.name === 'war'" ng-controller="warGameController">
      <div class="col s12">
        <div class="card green darken-3">
          <div class="white-text card-content">
            <div id="title" class="white-text center-align row">
              <p style="margin: 0px;">now playing:</p>
              <h3 style="margin: 0px;">{{ game.name }}</h3>
            </div>
            <div id="pre-game" class="row" ng-hide="currentGame">
                <div class="row center-align">
                  <button class="btn" ng-click="handleCreateGame();"> Start a new game </button>
                </div>
                <div class="row center-align">
                  <table class="table col s6 offset-s3">
                    <thead>
                      <th>Host</th>
                      <th>Players</th>
                      <th>Join</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="game in games | filter: fullGames('capacity', 4)">
                        <td>Bob</td>
                        <td>{{ game.capacity[0] }}</td>
                        <td><button class="btn" ng-click="handleJoinGame(game.gameId);"> Join Game </button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div id="waiting-for-players" class="row center-align" ng-show="currentGame.state === 'waiting'">
                <button class="btn" ng-click="handleStartGame();">Start Game</button>
            </div>
            <div id="players" ng-repeat="player in currentGame.playerMap">
              <div class="card green darken-4">
                <h3>Hello</h3>
              </div>
            </div>
            <form class="right-align">
              <div class="input-field">
                <button class="btn blue-grey lighten-5 black-text" ng-click="leaveGame();">Leave Game</button>
              </div>
            </form>
          </div> <!-- End card content -->
        </div><!-- end card -->
      </div> <!-- End col -->
    </div> <!-- End War Game Board -->
    <div class="row col s12 card"> <!-- Start Message input form -->
      <form ng-submit="newMessage();">
<!--         <input ng-model="message" style="margin: 0px;" type="text" placeholder="Let the world know you're here!" class="col s11"> -->

        <div class="input-field col s11">
          <i class='material-icons prefix'>message</i>
          <input id="message" type="text" name="message" placeholder="Let the world know you're here.">
        </div>

        <button class="btn white waves-effect waves-dark col s1" type="submit" name="action">
          <i class="black material-icons">send</i>
        </button>
      </form>
    </div><!-- end Message input form -->
    <div class="row col s12 card"> <!-- Message list -->
      <div ng-repeat="msgObj in messages">
        <p><b>{{ msgObj.username }} :</b> {{ msgObj.message }}</p>
      </div>
    </div><!-- Message list -->

    <div class="row col s12 card">
      <div class="input-field col s12">
        <i class="material-icons prefix">bug_report</i>
        <input id="bug" type="text" name="bug">
        <label for="bug">Submit Bug Report</label>
      </div>
    </div>

  </div>
</div>
